<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.isen.iasoni.studentapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.LoginActivity"></activity>
        <activity android:name=".View.RegisterActivity2" />
        <activity android:name=".View.RegisterActivity1" />
        <activity android:name=".View.PassedEventsActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".View.EditProfilActivity" />
        <activity android:name=".View.NotifActivity" />
        <activity android:name=".View.EventInfoActivity" />
        <activity android:name=".View.EventsActivity" />
        <activity android:name=".View.ProfilActivity" />
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.SwipeActivity" />
        <activity android:name=".View.CreateEventActivity" />
        <activity android:name=".View.FilterActivity"/>


        <activity android:name=".View.IntroductionActivity" />

    </application>

</manifest>